documents/*
*_index
*_related
*_experiment*
*_plots
*_ix
__pycache__
annotations
document_*
fixed_hyphenation
samples
spacy_model
transformers
whoosh
notes.md
*ix_files.pickle
expanded_dict.pickle
tokeniser_comparison.py
file_stats.py
*.log
*~