documents/*
*_index
*_related
__pycache__
annotations
fixed_hyphenation
samples
spacy_model
transformers
whoosh
notes.md
*ix_files.pickle
expanded_dict.pickle
search_terms.py
tokeniser_comparison.py
file_stats.py
*.log
*~